#flexBox {
  /* display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr; */
  width: 100%;
  display: flex;
  flex-direction: column;
  /* gap: 10%; */
  margin-left: 5%;
}


#specialDeal {
  display: none;
  font-size: 18pt;
}

#spot3 {
  display: none;
}
@media screen and (min-width: 300px) {
  h1,
  h2 {
    font-size: 18px;
  }
  #logo img {
    width: 90%;
  }

  .icon img {
    width: 50%;
  }
  #spotlight_container {
    display: flex;
    flex-direction: column;
  }
  #hero img {
    width: 100%;
    max-width: 500px;
  }

}

#hero {
  position: relative;
  margin-bottom: 0%;
  padding-bottom: 0%;
}

#heroText {
  position: absolute;
  margin-top: 2px;
  margin-left: 5px;
  font-size: 1.5em;
  color: white;
  text-shadow: 1px 1px black;
}

@media screen and (min-width: 650px) {
  #flexBox {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
  }
  #med_view {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #spotlight_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #organize {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}

@media screen and (min-width: 900px) {
  #mainContent {
    /* display: grid;
        grid-template-columns: 1fr 1fr 1fr; */
    /* display: flex;
        flex-wrap: wrap;
        flex-direction: row; */
  }

  /* #med_view {
    display: flex;
    flex-direction: column;
  } */

  #spot3 {
    display: inline;
  }
  #spotlight_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

.icon img {
  max-height: 50px;
}

#logo img {
  max-width: 150px;
}

#iconGrid {
  display: grid;
  grid-template-columns: 50px 50px;
}

#date {
  text-align: center;
  background-color: grey;
  padding: 10px;
  border: 3px darkgray ridge;
}

.box_border {
  background-color: lightgray;
  /* border: 3px darkgray ridge; */
}

#spotlight_container {
  background-color: lightgray;
  border: 3px darkgray ridge;
  padding: 15px;
}
/* #nameBar {
    display: flex;
    flex-direction: row;
    margin: 10px;
} */

footer {
  text-align: center;
}
